* {
  margin:0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
  "sidebar footer";
}

nav {
  grid-area: navbar ;
  background: #3185FC; 
  top: 0;
  position: sticky;
  padding: 1em;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sidebarToggleBtn {
   display: none;
   font-size: 1.5rem;
   background: transparent;
   border: none;
   outline: none;
}
h5 {
  font-size: 1rem;
  color: lavenderblush;
}


aside {
  grid-area: sidebar;
  background: #F7F7F7;
  top: 60.5px;
  position: sticky;
  align-self: start;
  height: calc(100vh - 60.5px);
}
.profile {
   padding: 1.5rem 1rem;
   background: linear-gradient(#3185FC, #F7F7F7);
}

#userName {
  color: #fff;
  font-size: 1.5em;
}


.options-box {
   border-radius: 0.5rem;
   margin: 1rem;
   background: #E8E8E8;
}
.option {
   padding: 0.8rem;
   font-size: 1.2em;
}
.option i {
   margin-right: 0.5rem;
}



main {
  grid-area: main;
  padding: 1em;
}
.main .inactive {
  display: none;
}



footer {
  grid-area: footer;
  border-top: 1px solid grey;
  padding: 1rem;
}


/* pages */
.page {
   display: none;
}
.page.active {
   display: block;
}
#todo.active {
   display: grid;
}
#todo {
   grid-template-columns: 1fr 1fr;
   grid-template-areas: 
   "create create"
   "incomplete complete";
}

#todo .create-todo {
   grid-area: create;
   font-size: 1.5em;
   margin-bottom:1rem;
}
.create-todo input[type=text] {
   font-size: 1em;
   width: 40%;
   height: 47%;
   margin: 1rem 0;
   padding: 0 0.5rem;
   outline: 0;
   border: 0;
   border-bottom: 1.5px solid black;
}
.create-todo input[type=button] {
   font-size: 1em;
   padding:0 0.8rem;
   margin: 1rem 0;
   height: 50%;
}

#todo .incomplete {
   grid-area: incomplete;
   background: #FFD6D6;
}
.incomplete .todo,.complete .todo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 1rem;
   
}

.todo i {
   margin-right: 1rem;
}

#todo .complete {
  grid-area: complete;
  background: #B9FFBB;
}



/* //page 2 */

/* #Events {
  display: block;
} */

.create-box {
   background: #F1F1F1;
   padding: 1rem;
   border-radius: 0.5rem;
   margin: 0.5rem 0;
}

.create-inputs {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-areas:
   "inputs selects";
}

.create-inputs .inputs {
   grid-area: inputs;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   font-size: 1em;
}


.create-inputs .event-select {
   grid-area: selects;
}

.create-box input {
    background: #FFFFFE;
    width: 90%;
    font-size: 0.8em;
    padding: 0.65rem 0.5rem;
    border: 1px solid grey;
    border-radius: 0.3rem;
    outline: 0;
    box-shadow: 0px 1px 4px #373737;
    margin: 0.5rem 0 1rem 0;
}


.button { 
   background: #3185FC;
   color: #fff;
   padding: 0.5rem 1rem;
   border-radius: 0.3rem;
   border: none;
   outline: none
}
.button:active {
   background: #88B9FF;
}

.tool-head {
   font-size: 1.5rem;
   margin-bottom: 0.3rem;
}
hr {
   border: 0.5px solid #3689FF;
   width: 93%;
   margin-bottom: 0.3rem;
}

/* Timeline */
.events-timeline {
   background: #F4F4F4;
   margin: 1rem 0;
   padding: 1rem;
   border-radius: 0.5rem;
   width: 50%;
}

.event {
   background: #FFFFFF;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 0.3rem 0;
}
.event .date-box {
   width: 25%;
   padding: 1rem 0.5rem;
   font-size: 1em;
   border-right: 2px solid black;
}
#event-year {
   font-size: 0.7em;
}


.event-box {
   width: 45%;
   padding: 0.8rem 0.5rem;
   font-size: 1.2em;
   font-weight: bold;
}

.event-box #eventType {
   
   font-size: 0.6em;
   font-weight: lighter;
   color: grey;
}


.event .icon-box {
   width: 20%;
   font-size: 1em;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}


/* working on sllyBus */
.subjects-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   background: #F1F1F1;
   padding: 1rem;
   gap: 1rem;
}
.subject {
   background: #fff;
   border-radius: 0.5rem;
}

.subject .sub-info {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem ;
  
}

.subject .sub-icon {
   width: 30%;
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   justify-content: space-between;
}


.subject .sub-info button {
   width: 2rem;
   height: 2rem;
   font-size: 1.2em;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.subject .sub-info .subjectName {
   
   font-size: 2rem;
   
}


.chapter-container {
   background: #F8F8F8;
   padding: 0.2rem 0.5rem;
   border-bottom-left-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
   border-top: 2px solid #3C9FFF
}
.chapter {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0.3rem 0;
   border-radius: 0.5rem;
}
.chapter-info {
   padding: 0.5rem;
   font-size: 1.2rem;
   border-radius: 0.5rem;
}

.chapter-info .revised {
   font-size: 0.6rem;
   color: #00AD06;
}

.chapter-info a {
   color: blue;
   font-size: 0.9rem;
   
}
.chapter .icons {
   width: 30%;
   font-size: 1.2rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}



/* doubt jornal */


.doubt-container {
   
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 1rem;
   gap: 1rem;
   background: #F1F1F1;
   border-radius: 0.5rem;
   
}

.doubtJournal-create div {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   
}
.doubtJournal-create div textarea {
   width: 90%;
   padding: 0.5rem;
   height: 7rem;
   border-radius: 0.5rem;
   border: 0.5px solid black;
   box-shadow: 0px 1px 4px #373737;
   outline: 0;
   
}


.doubt {
   background: #CFD5DF;
   border-radius: 0.5rem;
   border-bottom: 1px solid #5E98FF;
}

.doubt .doubt-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
.doubt .doubt-sub button {
   width: 2rem;
   height: 2rem;
   font-size: 1.2em;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   background: black;
}


.doubt-info {
   background: #E0E0E0;
   padding: 0.5rem ;
   border-bottom-right-radius: 0.5rem;
   border-bottom-left-radius: 0.5rem;
   border-top: 1px solid #5E98FF;
}
.doubt-info textarea {
  background: #D6DCE6;
   width: 93.5%;
   height: 5rem;
   padding: 0.5rem ;
   border-radius: 0.5rem;
   border: none;
   outline: 0;
}

.doubt-info #doubt-qus {
   
   height: 2rem;
}
.doubt-info div {
   
   padding: 0.5rem ;
   border-radius: 0.5rem;
}

/* link saver page */
.link-container {
   background: #F1F1F1;
   padding: 1rem;
   border-radius: 0.5rem;
   margin: 0.5rem 0;
   
}
.link {
   background: #FFFFFF;
   padding: 0.7rem 0.5rem ;
   display: block;
   font-size: 1.2rem;
}
.link a {
   font-size: 1rem;
   display: block ;
   margin-top: 0.3rem;
   text-decoration: none;
}

.link p {
   display: inline;
   margin-right: 1rem;
}

/* home page */
.home-details {
   /* background: #FF0000; */
   padding: 0.5rem;
}
.home-details h3 {
   color: #0098FF;
   text-align: center;
   font-size: 2rem;
   margin: 0.5rem 0;
}
.home-details p {
   margin: 0.5rem 0;
   font-size: 0.5rem;
}
.home-details a {
   text-decoration: none;
}
.highlight {
   color: #FF6A00;
}



















@media (max-width: 800px) {
   
   body {
     grid-template-columns: 1fr;
     grid-template-areas:
     "navbar"
     "main"
     "footer";
   }
   #sidebarToggleBtn {
     display: block;
   }
   aside {
     position: fixed;
     width: 300px;
     left: -400px;
     transition: left 0.1s;
   } 
   .showSidebar {
     display: block;
     left: 0px;
     transition: left 0.39s ease-out;
   } 
   
   #todo {
   grid-template-columns: 1fr;
   grid-template-areas: 
   "create"
   "incomplete"
   "complete";
   }
   
   .create-inputs {
     grid-template-columns: 1fr;
     grid-template-areas: 
     "inputs"
     "selects";
   }
   .events-timeline {
     width: auto;
   }
   .subjects-container {
     grid-template-columns: 1fr;
   }   
   .doubtJournal-create div {
     display: inline-block;
   }
   .doubt-container {
     grid-template-columns: 1fr;
   }   
   .home-details p {
    font-size: 1rem;
   }   
}



.darkMode {
   background: #222222;
   color: #fff;
}
.darkMode aside {
  background: #181818;
}

.darkMode .options-box {
  background: #2B2B26;
}

.darkMode .profile {
  background: #181818;
}

.darkMode footer {
  background: #393936;
}

.darkMode #todo .incomplete {
   background: #5C1919;
}
.darkMode #todo .complete {
   background: #195C21;
}

.darkMode .create-todo input[type=text] {
   border-bottom: 1.5px solid white;
   background: transparent;
   color: #fff;
}

.darkMode .create-event {
   color: #fff;
   background: #34342E;
}
.darkMode .events-timeline {
   color: #fff;
   background: #34342E;
}
.darkMode .event {
  background: #B9E5F2;
  color: #000;
}

.darkMode .create-box {
   background: #34342E;
}


.darkMode .subjects-container {
   background: #34342E;
   border-radius: 0.5rem;
}

.darkMode .subject {
   background: #2B2B26;
}

.darkMode .chapter-container {
   background: #2B2B26 ;
   border-top: 2px solid #3C9FFF;
   color: #fff;
}


.darkMode .doubtJournal-create div textarea ,
.darkMode .doubtJournal-create div input{
   background: #2B2B26;
   color: #fff;
   border: 1px solid grey;
}

.darkMode .doubt-container {
   background: #34342E;
}
.darkMode .doubt {
  background: #4F5F7A;
  border-bottom: 1px solid #0E1D381C;
}
.darkMode .doubt a {
   color: #0095FF
}

.darkMode .doubt-info {
   background: #202020;
}

.darkMode .doubt-info textarea {
  background: #2B2B26;
  color: #C9C9C9;
  border: 1px solid #FFFFFF4D;
}

.darkMode .link-container {
   background: #34342E;
   
}
.darkMode .link {
   background: #242424;
}
.darkMode .link a , 
.darkMode .home-details a {
   color: #2099FF;
}

.darkMode .highlight {
   color: #FFDA00;
}





.hide {
  display: none;
} 

/* Day 5 */