* {
  margin:0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
  "sidebar footer";
}

nav {
  grid-area: navbar ;
  background: #3185FC; 
  top: 0;
  position: sticky;
  padding: 1em;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sidebarToggleBtn {
   display: none;
   font-size: 1.5rem;
   background: transparent;
   border: none;
   outline: none;
}
h5 {
  font-size: 1rem;
  color: lavenderblush;
}


aside {
  grid-area: sidebar;
  background: #F7F7F7;
  top: 60.5px;
  position: sticky;
  align-self: start;
  height: calc(100vh - 60.5px);
}
.profile {
   padding: 1.5rem 1rem;
   background: linear-gradient(#3185FC, #F7F7F7);
}

#userName {
  color: #fff;
  font-size: 1.5em;
}


.options-box {
   border-radius: 0.5rem;
   margin: 1rem;
   background: #E8E8E8;
}
.option {
   padding: 0.8rem;
   font-size: 1.2em;
}
.option i {
   margin-right: 0.5rem;
}



main {
  grid-area: main;
  padding: 1em;
}
.main .inactive {
  display: none;
}



footer {
  grid-area: footer;
  background: lightcyan;
}


/* pages */
.page {
   display: none;
}
.page.active {
   display: block;
}
#todo.active {
   display: grid;
}
#todo {
   grid-template-columns: 1fr 1fr;
   grid-template-areas: 
   "create create"
   "incomplete complete";
}

#todo .create-todo {
   grid-area: create;
   font-size: 1.5em;
   margin-bottom:1rem;
}
.create-todo input[type=text] {
   font-size: 1em;
   width: 40%;
   height: 47%;
   margin: 1rem 0;
   padding: 0 0.5rem;
   outline: 0;
   border: 0;
   border-bottom: 1.5px solid black;
}
.create-todo input[type=button] {
   font-size: 1em;
   padding:0 0.8rem;
   margin: 1rem 0;
   height: 50%;
}






#todo .incomplete {
   grid-area: incomplete;
   background: #FFD6D6;
}
.incomplete .todo,.complete .todo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 1rem;
   
}

.todo i {
   margin-right: 1rem;
}

#todo .complete {
  grid-area: complete;
  background: #B9FFBB;
}



/* //page 2 */

/* #Events {
  display: block;
} */

.create-event {
   background: #F1F1F1;
   padding: 1rem;
   border-radius: 0.5rem;
   
}

.event-inputs {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-areas:
   "inputs selects";
}

.event-inputs .inputs {
   grid-area: inputs;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   font-size: 1em;
}


.event-inputs .event-select {
   grid-area: selects;
}

.create-event input {
    background: #FFFFFE;
    width: 90%;
    font-size: 0.8em;
    padding: 0.65rem 0.5rem;
    border: 1px solid grey;
    border-radius: 0.3rem;
    outline: 0;
    box-shadow: 0px 1px 4px #373737;
    margin: 0.5rem 0 1rem 0;
}


.button { 
   background: #3185FC;
   color: #fff;
   padding: 0.5rem 1rem;
   border-radius: 0.3rem;
   border: none;
   outline: none
}
.button:active {
   background: #88B9FF;
}

.tool-head {
   font-size: 1.5rem;
   margin-bottom: 0.3rem;
}
hr {
   border: 0.5px solid #3689FF;
   width: 93%;
   margin-bottom: 0.3rem;
}

/* Timeline */
.events-timeline {
   background: #F4F4F4;
   margin: 1rem 0;
   padding: 1rem;
   border-radius: 0.5rem;
   width: 50%;
}

.event {
   background: #FFFFFF;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 0.3rem 0;
}
.event .date-box {
   width: 25%;
   padding: 1rem 0.5rem;
   font-size: 1em;
   border-right: 2px solid black;
}
#event-year {
   font-size: 0.7em;
}


.event-box {
   width: 45%;
   padding: 0.8rem 0.5rem;
   font-size: 1.2em;
   font-weight: bold;
}

.event-box #eventType {
   
   font-size: 0.6em;
   font-weight: lighter;
   color: grey;
}







.event .icon-box {
   width: 20%;
   font-size: 1em;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}















@media (max-width: 800px) {
   
   body {
     grid-template-columns: 1fr;
     grid-template-areas:
     "navbar"
     "main"
     "footer";
   }
   #sidebarToggleBtn {
     display: block;
   }
   aside {
     position: fixed;
     width: 300px;
     left: -400px;
     transition: left 0.1s;
   } 
   .showSidebar {
     display: block;
     left: 0px;
     transition: left 0.39s ease-out;
   } 
   
   #todo {
   grid-template-columns: 1fr;
   grid-template-areas: 
   "create"
   "incomplete"
   "complete";
   }
   
   .event-inputs {
     grid-template-columns: 1fr;
     grid-template-areas: 
     "inputs"
     "selects";
   }
   .events-timeline {
     width: auto;
   }
}



.darkMode {
   background: #222222;
   color: #fff;
}
.darkMode aside {
  background: #181818;
}

.darkMode .options-box {
  background: #2B2B26;
}

.darkMode .profile {
  background: #181818;
}

.darkMode footer {
  background: #393936;
}

.darkMode #todo .incomplete {
   background: #5C1919;
}
.darkMode #todo .complete {
   background: #195C21;
}

.darkMode .create-todo input[type=text] {
   border-bottom: 1.5px solid white;
   background: transparent;
   color: #fff;
}
.darkMode .create-todo input[type=button] {
   
}



.darkMode .create-event {
   color: #fff;
   background: #34342E;
}
.darkMode .events-timeline {
   color: #fff;
   background: #34342E;
}
.darkMode .event {
  background: #B9E5F2;
  color: #000;
}


























